.directory-element {
  background-color: var(--color-items);
  border: 2px var(--color-dark) solid;
  border-radius: 0.5rem;
  width: 100%;
  cursor: pointer;

  &__title {
    max-width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(34, 60, 80, 0.4);
  }

  &__content {
    margin: 0.5rem;
  }

  &__birth-time {
    text-align: right;
    margin: 0.5rem;
  }

  &_file {
    .hoverable &:hover {
      background-color: color-mix(in srgb, var(--color-items) 95%, var(--color-black));
    }
  }

  .hoverable &:hover {
    border-color: var(--color-details);
    background-color: color-mix(in srgb, var(--color-items) 95%, var(--color-black));
  }
}