@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 16px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration-line: inherit;

  @include withHover {
    color: var(--color-details);
  }
}

p {
  all: unset;
  display: block;
}

hr {
  margin: 0;
  border: none;
  background-color: var(--color-dark);
  min-height: 1px;
  min-width: 1px;
}

button {
  all: unset;
  background-color: var(--color-items);
  border: 1px solid var(--color-dark);
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @include withHover {
    &:not(&[disabled]) {
      background-color: color-mix(in srgb, var(--color-items) 95%, var(--color-black));
    }
  }

  &:is(&:active, &_active):not(&[disabled]) {
    color: var(--color-details);
    border-color: var(--color-details);
  }

  &[disabled] {
    cursor: default;

    background-color: var(--color-dark);
    color: var(--color-items);
  }

  &:focus {
    @include onFocus()
  }
}

a:focus-visible {
  outline: none;
  text-decoration: underline;
}

:root {
  --color-black: #000000;
  --color-success: #34C759;
  --color-warning: #FF9500;
  --color-error: #FF3B30;

  --color-details: #ff0000;

  --color-items: #f8faff;
  --color-folders: #fff1b2;
  --color-bg: #ffffff;
  --color-dark: #808080;

  --z-index-the-player: 1000;
  --z-index-select-options: 2000;
}