@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html,
body {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 16px;
}

ul,
ol {
  @apply p-0 m-0;
}

li {
  @apply list-none;
}

a {
  @apply text-inherit;
  @apply with-hover:text-details-500;
  @apply focus-visible:outline-none focus-visible:underline;
}

p {
  all: unset;
  @apply block;
}

:root {
  --color-text: black;
}