* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, 'Open Sans', sans-serif;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration-line: inherit;

  @include withHover {
    color: var(--color-details);
  }
}

p {
  all: unset;
  display: block;
}

:root {
  --color-black: #000000;
  --color-success: #34C759;
  --color-warning: #FF9500;
  --color-error: #FF3B30;

  --color-details: #ff0000;

  --color-items: #f8faff;
  --color-folders: #fff1b2;
  --color-bg: #ffffff;
  --color-dark: #808080;

  --z-index-the-player: 1000;
  --z-index-select-options: 2000;
}