@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Manrope', Arial, sans-serif;
  color: $color-black;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#app {
  background-color: $color-background;
  width: 100%;
  min-height: 100vh;
}
