.theme {
  &_color {
    &_red {
      --color-details: #ff0000;
    }

    &_blue {
      --color-details: #0000ff;
    }

    &_green {
      --color-details: #00ff00;
    }

    &_cyan {
      --color-details: #00ffff;
    }

    &_magenta {
      --color-details: #ff00ff;
    }

    &_orange {
      --color-details: #ff8000;
    }
  }

  &_mode {
    &_light {
      --color-items: #f8faff;
      --color-folders: #fff1b2;
      --color-bg: white;
      --color-dark: #808080;

      &-preview {
        --color-items: #f8faff !important;
        --color-folders: #fff1b2 !important;
        --color-bg: white !important;
        --color-dark: #808080 !important;
      }
    }

    &_dark {
      --color-items: #7a7b83;
      --color-folders: #bbb38e;
      --color-bg: #808080;
      --color-dark: #404040;

      &-preview {
        --color-items: #7a7b83 !important;
        --color-folders: #bbb38e !important;
        --color-bg: #808080 !important;
        --color-dark: #404040 !important;
      }
    }
  }
}